<!--carga del template base-->
{% extends "Blog/base.html" %}
<!--titulo-->
{% block title %}{{post_detail.title}}{% endblock title %}
<!--prt content-->
{% block content %}
    <h1>{{post_detail.title}}</h1>
    <p class="date">
        publicado: {{post_detail.publish}} by {{post_detail.author}}
    </p>
    <main>contenido: 
        {{post_detail.body}}
    </main>
    <p>
        <a href="{% url "blog:lista_post" %}"> salir a listado</a>
    </p>
    <!--link para ir al from de correos-->
    <p><a href="{% url "blog:shere_post" post_detail.id%}">share this post</a></p>
    {% with comment.count as total_comment%}
        <h2>{{total_comment}} comment {{total_comment|pluralize}}</h2>
    {% endwith %}
    {% for comentario in comment %}
        <p>
            comentario {{forloop.conunter}} by {{comment.name}}
            {{comment.created}}
        </p>
        {{comment.body|linebreaks}}
    {% empty %}
        <p>no hay comentarios</p>
    {% endfor %}
    {% include "Blog/includes/comment_form.html" %}
{% endblock content %}
