<!--carga del template base-->
{% extends "Blog/base.html" %}
<!--titulo-->
{% block title %}My Blog{% endblock title %}
<!--prt content-->
{% block content %}
    <h1>My blog</h1>
    {% for post in posts %}
        
        <h2>
            <!--aqui se crea un enlace con el nombre del post
            el cual tiene vinculado una url ya existentes y junto a el
            en la intereacion que lleva el for se pasa el id del post a esa url
            -->
            
            <a href="{{post.get_absolute_url}}">
                {{post.title}}
            </a>
        </h2>
        <p>Tags: {{post.tags.all|join:", "}}</p>
        <p class="date">
            publicado: {{post.publish}} by {{post.author}}
        </p>

        {{post.body|truncatewords:30|linebreaks}}

    {% endfor %}
    <!--aqui se pasa el componente de pag y hay que pasar un parametro por el block -->
    {% include "Blog/includes/pagination.html" with page=posts %}
{% endblock content %}
